.header a{
    text-decoration: none;
    color: white;
}

.header{
    background: rgb(124, 42, 145);
    display: flex;
    float: left;
    width: 30%;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px;
    text-align: left;
    color: white;
}

#menuToggle{
    display: none;
}

.menu-icon{
    display: none;
}